@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


:root {
    --cor-primaria: lightcoral;
    --cor-secundaria: dimgray;
    --cor-ternaria: gainsboro;
}

body{
    background-color: var(--cor-primaria);
    font-size: 15px;
    font-family: Lato, cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#container{
    height: 525px;
    width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    box-shadow:3px 3px 3px gray;
    border-radius: 20px;
    padding: 20px;
}

.titulo{
    background-color: var(--cor-ternaria);
    color: var(--cor-secundaria);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsform{
    padding-left: 20px;
    padding-right: 20px;
}

.forminput{
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.forminput:focus{
    border: 3px solid var(--cor-primaria);
    outline: none;
}

.formselect{
    width: 180px;
    padding: 5px;
}

.formsubmit{
    text-transform: uppercase;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

#total{
    font-size: 15px;
    text-align: center;
}

@media(max-width: 400px){
    .titulo{
        font-size: 15px;
    }
}

@media(max-width: 350px){
    .titulo{
        font-size: 13px;
    }
}